     
     .hover-area {
       position: relative;
       width: 50%;
     }
     
     .image {
       opacity: 1;
       display: block;
       width: 50%;
       height: auto;
       transition: .5s ease;
       backface-visibility: hidden;
     }
     
     .middle-1 {
       transition: .5s ease;
       opacity: 0;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       text-align: center;
     }
    
     .middle-2 {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .middle-3 {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 57%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
     
     .hover-area:hover .image {
       opacity: 0.3;
     }
    
     .hover-area:hover .middle-1 {
      opacity: 1;
    }
     
     .hover-area:hover .middle-2 {
      opacity: 1;
    }
    
    .hover-area:hover .middle-3 {
      opacity: 1;
    } 

     .text {
       /* background-color: lightblue;  */
       color: black;
       font-size: 16px;
       padding: 16px 32px;
     }

     .project-1 {
         position: absolute;
         width: 70%; 
            
     }
     
     .project-2 {
         position: absolute;
         left: 495px; 
         width: 70%;
         height: 100%;
       
     }
  
     .project-3 {
         position: absolute;
         left: 760px; 
         width: 70%;
        
     }
  


