     
     .image {
       opacity: 1;
       display: block;
       width: 50%;
       height: auto;
       transition: .5s ease;
       backface-visibility: hidden;
     }
     
     
     .text {
       /* background-color: lightblue;  */
       color: black;
       font-size: 16px;
       padding: 16px 32px;
     }

     .project-1 {
         position: relative;
         width: 30%; 
         margin-right: 5px;
                              
     }
     
     .project-2 {
         position: relative;
         /* left: 495px;  */
         width: 30%;
                
     }
  
     .row-1 {
         position: relative;
         display: flex;
         flex-flow: wrap;
         justify-content: space-evenly;
     }

